{% extends 'basic.html' %}
{% block name %} {{ name }} {% endblock %}
{% block body %}

<center>
  <div style="background-color:#F3F4F6;padding:3%;" class="col-md-11 col-sm-12">
  <div style="background-color:white;" class="container"><h3>
    <br>
    <div class="container">
    Course : {{course}}  </div>
  </h3><br>
  <div class="container">
    Date : {{date}}  </div>
  <hr>
    <div class="row">
      <center>
        <div class="col-md-12 col-sm-12">
          <div class="container">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   <strong> Unattended Students</strong>
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <br><table class="table">
                      <thead>
                        <tr style="background-color:#F5F5F5;">
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Id No.</th>
                          <th scope="col">Mail</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in final_unattended %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ i.name }}</td>
                          <td>{{i.id}}</td>
                          <td><a href="mailto:{{i.email}}" class="btn btn-primary"><i class="fa fa-envelope"></i></a></td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div><br>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                   <strong> Attended Students </strong>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <br><table class="table">
                      <thead>
                        <tr style="background-color:#F5F5F5;">
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Id no.</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in final_attended %}
                        <tr>
                          <th scope="row">{{ forloop.counter }}</th>
                          <td>{{ i.name }}</td>
                          <td>{{i.id}}</td>
                        
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>  
                  </div>
                </div>
              </div>
            </div>
     
  </center>
  </div>
  </div></div>
  
      
  
    </div> </center> 
</div>


{% endblock  %}


