{% extends 'basic.html' %}

{% block name %} {{ name }} {% endblock %}
{% block navlist2 %} btn btn-outline-secondary {% endblock  %} 

{% block body %}

<div class="container">
  <center>
  <div class="row">

    <div class="col-lg-4 col-md-12 col-sm-12">
      <h4>Course : {{course}}</h4>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <h4>Join Code : {{join_code}}</h4>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
     <form action="/del_student" method="POST">{% csrf_token %}<button class="btn btn-secondary" name="delete" value="!!!!+{{course}}" type="submit">Delete Course <i style="color:red;" class="fa fa-solid fa-close"></i></button></form>
    </div>

  </div>
</center>
</div>
<hr>
<div class="container">
    <h3> </h3>
    <br>

    <center>
      {% if lendata == 0 %}
      <div class="container">
      <h4>
      You have no registered Students
    </h4></div>
    {% else %}

<div class="container">
      <h4>Registered Students Accepted by You</h4></div>
      <hr>
    <table class="table">
        <thead>
          <tr style="background-color:#F5F5F5;">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Id No.</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for i in data %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ i.name }}</td>
            <td>{{i.id}}</td>
            <td><form action="/del_student" method="POST" >{% csrf_token %}<button type="submit" class="btn btn-secondary" value="{{ i.user }}+{{course}}" name="delete" >Delete <i class="fa fa-solid fa-delete-left"></i> </button></form></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    
    <form action="/del_student" method="POST" >{% csrf_token %}<button type="submit" class="btn btn-primary" value="delete_all+{{course}}" name="delete" >Delete  All Students <i class="fa fa-solid fa-delete-left"></i> </button></form>

</center>
    
{% endif %}

</div>
{% endblock  %}

