{% extends 'boiler2.html' %}
{% block name %} {{ name }} {% endblock %}
{% block navlist1 %} btn btn-outline-secondary {% endblock  %}
{% block body %}

{% if sign == 0 %}
<center>
  <hr>
<div class="container">
  <h3>Currently No Live Classes going on </h3>
</center>
</div>
{% endif %}

{% if sign == 1 %}
<hr>
<center><h2>Live attendance Published</h2></center><br>
<div style="margin-right:10%;" class="container">
  <div style="border: 2px solid black;" class="row">
    <div class="col-4">
      <img style="margin-left:-3%" width="50%" height="100%" src="static/images/course.jpg" alt="">
    </div>
    <div class="col-6">
      <h4 style="margin-top:4%;">Course : {{ final1.course_name }}</h4>
    </div>
    <div id="har" class="col-2">
      <h3 style="margin-top:7%;" id="val">{{ final1.time_future }}</h3> 
        <button data-bs-toggle="modal" onclick="typescript()" data-bs-target="#exampleModal" class="btn btn-primary">Mark</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please Provide your Face and Hand</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div id="takeaction" class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="scr()" data-bs-dismiss="modal">Close</button>
                <form method="POST" action="/student_page">
                  {% csrf_token %}
                  <button id="query" type="submit" class="btn btn-primary" value="{{ final1.username }},{{ final1.course_name }},{{ final1.time_present }},{{ final1.bool }},{{ final1.latitude }},{{ final1.longitude }},{{ final1.radius }}" name="krish">Mark</button></form>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

{% if final1.bool == 1 %}
<script>
  if('geolocation' in navigator){
    navigator.geolocation.getCurrentPosition(position=>{
      var latitude=position.coords.latitude;
      var longitude=position.coords.longitude;
      console.log(latitude,longitude);
      var Myelement = document.getElementById("query").value;
      var a= latitude.toString();
      var b= longitude.toString();
      var v= a.concat("+",b);
      var d = Myelement
      var t= d.concat(",",v);
      document.getElementById("query").value = t;
      console.log(t)
      },error=>{
      alert("Please allow location");
    });
  }
  else{
    alert("Not Supported");
  }
</script>



{% endif %}
<script>
  function typescript(){
    var a=document.getElementById("takeaction")
    a.innerHTML=' <img width="100%" src="{% url 'video_feed_1' %}"> '
  }
  function scr(){
    location.href="/student_page";
  }
</script>
{% endif %}
<script> 
  var i = document.getElementById('val').innerHTML; 
  console.log(i); 
  document.getElementById("val").innerHTML = ""; 
  var x=setInterval(function(){ 
  var now =new Date().getTime();
  var diff=i-now;
  diff = diff / 1000 ;
  var num=Math.floor(diff/60);
  var str=num.toString();
  if (num<0){
    str="0";
  }
  var num1 = Math.floor(diff % 60);
  var str1=num1.toString();
  if(num1 <0 ){
    str1="0";
  }
  var fin=str.concat(" : ",str1);
  document.getElementById("val").innerHTML = fin;
  console.log(fin);
  if (num <=0 && num1<=0){
    location.href = "/student_page";
  }
}, 1000 )
</script>

<br><center><hr><h2 style="font-style:italic;"><u>Your Registered Courses</u></h2></center><br>
<div class="container">
    <div class="row">
      {% for i in list  %}
        <div style="padding:30px;" class="col-md-4 col-sm-6">
        <div style="background-color:#F5F5F5;" class="card" style="width: 18rem;">
            <center>
            
            <div class="card-body">
              <div class="container"><h4>Course No. {{ forloop.counter }} </h4> </div>
              <h5 class="card-title">{{ i.course_name }} </h5>
              <p class="card-text" name="coursename">Instr. {{ i.t_name }}</p>
            </div></center>
        </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>

{% endblock  %}
