{% extends 'basic.html' %}
{% block script %} <script src="/static/teach_page.js"></script> {% endblock  %}
{% block name %} {{ name }} {% endblock %}
{% block navlist1 %} btn btn-outline-secondary {% endblock  %}
{% block body %}


{% if sign == 1 %}
<hr>
<center><h2>Live attendance Published</h2></center><br>

<div style="margin-right:10%;" class="container">
  <div style="border: 2px solid black;" class="row">
    <div class="col-4">
      <img style="margin-left:-3%" width="50%" height="100%" src="static/images/course.jpg" alt="">
    </div>
    <div class="col-6">
      <h5 style="margin-top:4%;">Course : {{ active.course_name }}</h5>
    </div>
    <div id="har" class="col-2"><center>
      <h3 style="margin-top:5%;" id="val">{{ active.time_future }}</h3> 
      <form action="/teacher_page" method="POST">{% csrf_token %}
      <button style="width:100%" name="hari" class="btn btn-danger" value="{{ active.course_name }}" >Stop</button></form>
      <script> 
        var i = document.getElementById('val').innerHTML; 
        console.log(i); 
        document.getElementById("val").innerHTML = ""; 
        var x=setInterval(function(){ 
        var now =new Date().getTime();
        var diff=i-now;
        diff = diff / 1000 ;
        var num=Math.floor(diff/60);
        var str=num.toString();
        if (num<0){
          str="0";
        }
        
        var num1 = Math.floor(diff % 60);
        var str1=num1.toString();
        if(num1 <0 ){
          str1="0";
        }
        var fin=str.concat(" : ",str1);
        document.getElementById("val").innerHTML = fin;
        console.log(fin);
        if (num <=0 && num1<=0){
          location.href = "/teacher_page";
        }
      }, 1000 )
      </script>
    </div>
  </div>
</div></center>
<hr>
{% else %}
<center>
  <hr>
  <h2>No classes running</h2>
  
<img style="width:20%" src="static/images/empty.jpg" alt=""><hr>

{% endif %}

{% endblock  %}